{%extends 'boards/base.html'%}

{%block body%}
    <h1 class = 'text-center'>EDIT</h1>
    
    <form action='' method='POST' enctype='multipart/form-data'>
        {%csrf_token%}
        <label for="title">title</label><br>
        <input type="text" name="title" value='{{board.title}}'/><br>
        <label for="content">content</label><br>
        <textarea name="content" id="" cols="30" rows="10">{{board.content}}</textarea>
        <input type="file" name="file" accept='audio/*'/>
        <select name="board_num">
            <option value="1">기쁨</option>
            <option value="2">슬픔</option>
            <option value="3">분노</option>
            <option value="4">희망</option>
            <option value="5">공포</option>
        </select>
        <input type="submit" value="수정"/>
    </form>
{%endblock%}