{%extends 'boards/base.html'%}

{%block body%}
    <h1 class = 'text-center'>NEW</h1>
    <form action="" method='POST' enctype='multipart/form-data'>
        {%csrf_token%}
        <label for="title">title</label><br>
        <input type="text" name="title"/><br>
        <label for="content">content</label><br>
        <textarea name="content" id="" cols="30" rows="10"></textarea>
        <input type="file" name="file" accept='audio/*'/>
        <input class="btn btn-default" type="submit" value="Submit"/>
    </form>
{%endblock%}