{%extends 'boards/base.html'%}
{%load crispy_forms_tags%}

{%block body%}
    {%if request.resolver_match.url_name == 'signup'%}
        <h1 class='text-center'>회원가입</h1>
    {%elif request.resolver_match.url_name == 'edit'%}
        <h1 class='text-center'>회원정보 수정</h1>
    {%elif request.resolver_match.url_name == 'change_passowrd'%}
        <h1 class='text-center'>비밀번호변경</h1>
    {%else%}
        <h1 class='text-center'>로그인</h1>
    {%endif%}

     <form action='' method='POST'>
        {%csrf_token%}
        {{form|crispy}}
        {%if request.resolver_match.url_name == 'signup'%}
        <input type="submit" value="가입하기"/>
        {%elif request.resolver_match.url_name == 'edit'%}
        <input type="submit" value="수정하기"/>
        {%elif request.resolver_match.url_name == 'change_passowrd'%}
        <input type="submit" value="변경하기"/>
        {%else%}
        <input type="submit" value="로그인"/>
        {%endif%}
    </form>
    
{%endblock%}